@import '../../../stylesVariables.scss';

.layout-sidebar {
  height: 100%;

  --width-side-menu: 19rem;
  --margin-side-menu: 2.5vh;

  .item-menu {
    padding: 0.5rem;
    color: white;
    font-weight: 600;
    background-color: $primary-color;
    transition: background-color 0.1s linear;
    cursor: pointer;
  }

  .item-menu:hover {
    background-color: $secondary-color;
    border-radius: 12px;
  }

  .div-sidebar-open {
    margin-left: calc(var(--width-side-menu) + var(--margin-side-menu));
  }

  .div-sidebar {
    transition: margin-left .2s;
  }

  .layout-sidebar {
    position: fixed;
    width: var(--width-side-menu);
    height: 85%;
    overflow-y: auto;
    -webkit-user-select: none;
    user-select: none;
    left: var(--margin-side-menu);
    transition: transform .2s, left .2s;
    background-color: $primary-color;
    border-radius: 12px;
    padding: 0.5rem 1.5rem;
    margin: var(--margin-side-menu) 0;
  }

  .layout-sidebar-close {
    left: 0rem;
    transform: translate(-100%);
  }



  p-accordionTab {
    background-color: $primary-color;

    .p-accordion-content {
      background-color: $primary-color;
      border: none;
      padding: 0 0.5rem 0 0.5rem
    }

    .p-accordion-header-link {
      background-color: $primary-color;
      border: none;
      padding: 1rem 1rem 1rem 0.5rem;
      color: white;
    }

    .p-accordion-header-link:hover {
      background-color: $secondary-color;
      border-radius: 12px;
    }
  }
}